{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li class="">
  <a title="{{brand.name}}" class="socialaccount_provider {{provider.id}} {{brand.id}}"
    href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"><img border="0"
      alt="{{ brand.name }}" src="/media/{{brand.name}}logo.png/" style="text-decoration: none;"></a>
</li>
{% endfor %}
{% endif %}
<li>
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
    href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><img border="0"
      alt="{{ provider.name }}" src="/media/{{provider.name}}logo.png/" style="text-decoration: none;"></a>
</li>
{% endfor %}