<div class="footer d-block d-lg-none">
    <li class="list-inline-item">
        <a class="text-white nav-link d-block d-md-none" href="#" id="mobile-search" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-search fa-lg"></i></div>
                <p class="my-0">Search</p>
            </div>
        </a>
        <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
            <form class="form" method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-blue rounded-0" type="text" name="q"
                        placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="form-control form-control btn btn-white border border-blue rounded-0"
                            type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
    <li class="list-inline-item dropdown">
        <a class="text-white nav-link d-block d-md-none" href="#" id="user-options" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0">My Account</p>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </li>
    <li class="list-inline-item">
        <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-white{% endif %} nav-link d-block d-md-none"
            href="{% url 'view_bag' %}">
            <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0">
                    {% if grand_total %}
                    £{{ grand_total|floatformat:2 }}
                    {% else %}
                    £0.00
                    {% endif %}
                </p>
            </div>
        </a>
    </li>
</div>
<div class="footer d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <h5 class="white-text">DELI SW</h5>
                <p class="grey-text text-lighten-4">Food & drink from the SW!
                </p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h5 class="white-text">social</h5>
                <!--Facebook-->
                <div class="row">
                    <div class="col-12 col-md-4 text-center">
                        <a class="social" href="http://facebook.com" aria-label="click for IPP on Facebook"
                            target="_blank" rel="noreferrer noopener">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </div>
                    <!--Twitter-->
                    <div class="col-12 col-md-4 text-center">
                        <a class="social" href="http://twitter.com" aria-label="click for IPP on Twitter"
                            target="_blank" rel="noreferrer noopener">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </div>
                    <!--Instagram-->
                    <div class="col-12 col-md-4 text-center">
                        <a class="social" href="http://instagram.com" aria-label="click for IPP on Instagram"
                            target="_blank" rel="noreferrer noopener">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h5>contact us</h5>
                <p>
                    <a class="email" href="mailto:delisw@example.com"><i class="far fa-envelope"></i>
                        delisw@example.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container text-center">
            © 2021 DELISW
        </div>
    </div>
</div>