<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-sm-none">
            <a class="logo-font nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-blue">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'county_search' %}" class="dropdown-item ">By County</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white mr-5" href="#" id="food-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Food
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="food-link">
                <a href="{% url 'products' %}?category=meat" class="dropdown-item">Meat</a>
                <a href="{% url 'products' %}?category=cheese" class="dropdown-item">Cheese</a>
                <a href="{% url 'products' %}?category=snacks_biscuits" class="dropdown-item">Snacks &amp; Biscuits</a>
                <a href="{% url 'products' %}?category=meat,cheese,snacks_biscuits" class="dropdown-item">All Food</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white mr-5" href="#" id="drink-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Drink
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="drink-link">
                <a href="{% url 'products' %}?category=cider" class="dropdown-item">Cider</a>
                <a href="{% url 'products' %}?category=beer" class="dropdown-item">Beer</a>
                <a href="{% url 'products' %}?category=soft_drinks" class="dropdown-item">Soft Drinks</a>
                <a href="{% url 'products' %}?category=cider,beer,soft_drinks" class="dropdown-item">All Drinks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="{% url 'products' %}?category=hampers" class="dropdown-item">Hampers</a>
                <a href="{% url 'products' %}?category=giftcards" class="dropdown-item">Giftcards</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=hampers,giftcards,clearance" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>