<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="food-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="food-link">
                <a href="" class="dropdown-item">Meat</a>
                <a href="" class="dropdown-item">Cheese</a>
                <a href="" class="dropdown-item">Snacks &amp; Biscuits</a>
                <a href="" class="dropdown-item">All Food</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="drink-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drink
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="drink-link">
                <a href="" class="dropdown-item">Cider</a>
                <a href="" class="dropdown-item">Beer</a>
                <a href="" class="dropdown-item">Soft Drinks</a>
                <a href="" class="dropdown-item">All Drinks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="" class="dropdown-item">Hampers</a>
                <a href="" class="dropdown-item">Giftcards</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>