{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="conatiner header-container"></div>
<div class="row">
    <div class="col">

    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container h-100">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card county">
                <img src="/media/cornwall.png" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text text-center">
                        <a id="county-text" href="{% url 'products' %}?county=Cornwall">Cornwall</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card county">
                <img src="/media/devon.png" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text text-center">
                        <a href="{% url 'products' %}?county=Devon">Devon</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card county">
                <img src="/media/dorset.png" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text text-center">
                        <a href="{% url 'products' %}?county=Dorset">Dorset</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card county">
                <img src="/media/gloucester.png" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text text-center">
                        <a href="{% url 'products' %}?county=Gloucestershire">Gloucestershire</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card county">
                <img src="/media/somerset.png" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text text-center">
                        <a href="{% url 'products' %}?county=Somerset">Somerset</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card county">
                <img src="/media/wiltshire.png" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text text-center">
                        <a href="{% url 'products' %}?county=Wiltshire">Wiltshire</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}